.option {
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon {
  font-size: 36px;
}

.active-bride {
  transform: scale(1.1);
}

.active-groom {
  transform: scale(1.1);
}

.inactive {
  opacity: 0.5;
}
